.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.Main{
  width: 90%;
  align-items: center;
  display: flex;
  justify-content: space-evenly;
}

.main_Card{
  max-width: 25%;
  
}

.card_media{
  height: 200px;
}

.title{
  flex-grow: 1;
  color: white;
  text-transform: uppercase;
  text-decoration: none;
}

.title1{
  color: white;
  text-transform: uppercase;
  text-decoration: none;
  
}

.root{
  flex-grow: 1;
}

.mao{
  color: "";
}

.lform{
  padding: 60px;
  width: 50%;
  align-content: center;
  justify-content: center;
  justify-items: center;
}

.idtf{
  width: 30%;
  display: inline-block;
  display: flex;
  padding: 8px;

}
.bidtf{
  margin-left: 8px
}